:root{
    --color-dark-blue: hsl(240, 100%, 5%);
    --color-white: hsl(36, 100%, 99%);
    --color-grey:  hsl(236, 13%, 42%);
    --color-grey-white:  hsl(236, 25%, 76%);
    --color-red: hsl(5, 85%, 63%);
    --color-orange: hsl(35, 77%, 62%);
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}


/*---------GENERIC CLASSES---------*/
.container{
    padding: 2rem;
}

.flex{
    display: flex;
}

/*---------MENU---------*/
.check-menu{
    position: absolute;
    top:0;
    left: 0;
    display: none;
}

.bg-dar-transparent{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1;
    background:  hsla(236, 13%, 42%, 0.616);
    display: none;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    overflow: inherit;
}

.menu-list-position{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    min-width: 65vw;
    background-color: var(--color-white);
    display: none;
}

.check-menu_label::after{
    content: url("../images/icon-menu.svg");
    position: absolute;
    top: 3rem;
    right: 2.05rem;
    z-index: 3;
}

.menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    position: relative;
    top:12rem;
    left: 2rem;
}

.menu-list_item a{
    color: var(--color-dark-blue);
    font-size: 1.5rem;
}

.check-menu:checked~.menu .menu-list-position{
    display: block;
  }

.check-menu:checked~.bg-dar-transparent{
    display: block;
}
.check-menu:checked~.menu .check-menu_label::after{
    position: fixed;
}

.check-menu:checked~.menu .check-menu_label::after{
    content: url("../images/icon-menu-close.svg");
}

/*--------- CONTENT BODY ----------*/

.content-body{
    flex-direction: column;
    gap: 8rem;
}
/*--------- CONTENT MAIN ----------*/

.content-main{
    flex-direction: column;
    gap: 6rem;
}

/*-----PRINCIPAL---------*/

/* PRINCIPAL SECTION */
.principal-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/*PRINCIPAL IMAGE*/

.principal-image{
    min-width: 100%;
    min-height: 30rem;
    background-image: url("../images/image-web-3-mobile.jpg") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-bottom: 2rem; */
}

/*PRINCIPAL TITLE*/

.principal-title h2{
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
    color: var(--color-dark-blue);
}

/*TEXT BTN */

.text-btn{
    flex-direction: column;
    gap: 2rem;
}

.text-btn p{
    color: var(--color-grey);
    font-size: 1.5rem;
    line-height: 1.5;
}

.text-btn .btn{
    margin-top: 1.5rem;
}

.text-btn .btn a{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 1rem 3rem;

}

.text-btn a:hover{
    background: var(--color-dark-blue);
}

/*------ SIDE BAR ---------*/

.side-bar{
    padding: 2rem;
    background-color: var(--color-dark-blue);
}

.side-bar h3{
    font-size: 3rem;
    color: var(--color-orange);
    margin-bottom: 3rem;

}

/*SIDE BAR LIST*/

.side-bar_list{
    flex-direction: column;
    gap: 3rem;
}

.side-bar_list-item a h4{
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.side-bar_list-item a h4:hover{
    color: var(--color-orange);
}

.side-bar_list-item p{
    color: var(--color-grey);
    line-height: 1.5;
}

.side-bar_list-item:nth-child(5){
    margin-bottom: 1.2rem;
}

.side-bar_list .line{
    min-height: .1rem;
    background: var(--color-grey);
}

/*---------- CONTENT BOTTOM -------------*/

.content-bottom_list{
    flex-direction: column;
    gap: 5rem;
}

.content-bottom_list-item-content{
    height: 12rem;
    gap: 2rem;
}

.cont-bottom_list-item-img{
    flex: 1 1 30rem;
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-1{
    background-image: url("../images/image-retro-pcs.jpg");
}

.img-2{
    background-image: url("../images/image-top-laptops.jpg");
}

.img-3{
    background-image: url("../images/image-gaming-growth.jpg");
}


.cont-bottom_list-item-text{
    flex: 1 1 60rem;
}

.cont-bottom_list-item-text h4{
    margin-top: -.5rem;
    font-size: 3.2rem;
    color: var(--color-grey-white);
}

.cont-bottom_list-item-text a h5{
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--color-dark-blue);
    margin-top: .5rem;
}

.cont-bottom_list-item-text p{
    margin-top: 2rem;
    line-height: 1.8;
    color: var(--color-grey-white);
}



/*---------FOOTER---------*/
.attribution {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*------- MEDIA QUERIES -----------*/

@media (min-width: 800px){

    /*----- CONTAINER -----*/
    .container{
        padding: 5rem 7rem;
    }
    
    /*----- MENU -----*/

    .menu{
        margin-bottom: 7rem;
    }

    .menu-list-position{
        position: inherit;
        display: block;
    }
    
    .check-menu_label::after{
        display: none;
    }

    .menu-list{
        flex-direction: row;
        gap: 6rem;
        align-items: center;
        justify-content: center;
        height: inherit;
        position: inherit;
    }

    /*----- CONTENT MEAIN -----*/

    .principal-section{
        grid-template-columns: 1fr 1fr;
    }

    .principal-image{
        grid-column: span 2;
        background-image: url("../images/image-web-3-desktop.jpg");
        background-size: cover;
    }

    .principal-title h2{
        font-size: 3.8rem;
        line-height: 5.8rem;
    }

    .text-btn{
        gap: 2.5rem;
    }

    .text-btn p{
        line-height: 1.75;
    }

    .text-btn .btn a{
        padding: 1.5rem 4.3rem;
        letter-spacing: .5rem;
    }

}

@media (min-width: 1024px){

    /*----- CONTAINER -----*/
    .container{
        padding: 7rem 9rem;
    }
    
    /*----- MENU -----*/
    .menu-list{
        flex-direction: row;
        gap: 4rem;
        align-items: center;
        justify-content: flex-end;
        height: inherit;
        position: inherit;
    }

    /*----- CONTENT MEAIN -----*/
    .content-main{
        flex-direction: row;
        gap: 3rem;
        
    }

    .principal-title h2{
        font-size: 4.8rem;
        line-height: 6.5rem;
    }

    .text-btn p{
        font-size: 1.7rem;
        line-height: 1.75;
    }

    .text-btn .btn a{
        padding: 1.5rem 4.3rem;
        letter-spacing: .5rem;
    }

    /*SIDE BAR*/
    .side-bar{
        flex: 1 1 95rem ;
    }
    
    .side-bar_list{
        gap: 4rem;
    }
    
    /*----- CONTENT BOTTOM -----*/

    .content-bottom{
        min-height: 15rem;
    }
    .content-bottom_list{
        min-height: 15rem;
        flex-direction: row;
    }

    .content-bottom_list-item-content{
        min-height: 15rem;
    }

}

@media (min-width: 1280px){

    /*----- CONTAINER -----*/
    .container{
        padding: 7rem 9rem;
    }
    
    /*----- MENU -----*/
    .menu-list{
        flex-direction: row;
        gap: 4rem;
        align-items: center;
        justify-content: flex-end;
        height: inherit;
        position: inherit;
    }

    /*----- CONTENT MEAIN -----*/
    .content-main{
        flex-direction: row;
        gap: 3rem;
        
    }

    .principal-title h2{
        font-size: 4.8rem;
        line-height: 6.5rem;
    }

    .text-btn{
        margin-top: .42rem;
    }

    .text-btn p{
        font-size: 1.7rem;
        line-height: 1.75;
    }

    .text-btn .btn a{
        padding: 1.5rem 4.3rem;
        letter-spacing: .5rem;
    }

    /*SIDE BAR*/
    .side-bar{
        flex: 1 1 100rem ;
    }
    
    .side-bar_list{
        gap: 4rem;
    }
    
    /*----- CONTENT BOTTOM -----*/
    .content-bottom_list{
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
    }

    .content-bottom_list-item{
        flex: 1 1 33.33%;
    }

}

@media (min-width: 1366px){
    .content-bottom_list-item:nth-child(2) p{
        width: 80%;
    }
}

@media (min-width: 1440px){

    /*----- CONTAINER -----*/
    .container{
        padding: 10rem 13rem;
    }
    
    /*----- MENU -----*/
    .menu-list{
        flex-direction: row;
        gap: 4.4rem;
        align-items: center;
        justify-content: flex-end;
        height: inherit;
        position: inherit;
    }

    /*----- CONTENT MEAIN -----*/
    .content-main{
        flex-direction: row;
        gap: 3rem;
        
    }

    .principal-title h2{
        font-size: 5.8rem;
        line-height: 6.5rem;
    }

    .text-btn{
        margin-top: .42rem;
    }

    .text-btn p{
        font-size: 1.7rem;
        line-height: 1.75;
    }

    .text-btn .btn a{
        padding: 1.5rem 4.3rem;
        letter-spacing: .5rem;
    }

    /*SIDE BAR*/
    .side-bar{
        flex: 1 1 100rem ;
    }
    
    .side-bar_list{
        gap: 4rem;
    }
    
    /*----- CONTENT BOTTOM -----*/
    .content-bottom_list{
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
    }

    .content-bottom_list-item{
        flex: 1 1 33.33%;
    }

}