:root{
    --color-dark-blue: hsl(240, 100%, 5%);
    --color-white: hsl(36, 100%, 99%);
    --color-grey:  hsl(236, 13%, 42%);
    --color-red: hsl(5, 85%, 63%);
    --color-orange: hsl(35, 77%, 62%);
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}


/*---------GENERIC CLASSES---------*/
.container{
    padding: 2rem;
}

.flex{
    display: flex;
}

/*---------MENU---------*/
.check-menu{
    position: absolute;
    top:0;
    left: 0;
    display: none;
}

.bg-dar-transparent{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1;
    background:  hsla(236, 13%, 42%, 0.616);
    display: none;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    margin-bottom: 3rem;
    overflow: inherit;
}

.menu-list-position{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    min-width: 65vw;
    background-color: var(--color-white);
    display: none;
}

.check-menu_label::after{
    content: url("../images/icon-menu.svg");
    position: absolute;
    top: 3rem;
    right: 2.05rem;
    z-index: 3;
}

.menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    position: relative;
    top:12rem;
    left: 2rem;
}

.menu-list_item a{
    color: var(--color-dark-blue);
    font-size: 15px;
}

.check-menu:checked~.menu .menu-list-position{
    display: block;
  }

.check-menu:checked~.bg-dar-transparent{
    display: block;
}
.check-menu:checked~.menu .check-menu_label::after{
    position: fixed;
}

.check-menu:checked~.menu .check-menu_label::after{
    content: url("../images/icon-menu-close.svg");
}

/*--------- CONTENT BODY ----------*/

.content-body{
    flex-direction: column;
}
/*--------- CONTENT MAIN ----------*/

.content-main{
    flex-direction: column;
    gap: 6rem;
}

/*-----PRINCIPAL---------*/

/* PRINCIPAL SECTION */
.principal-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/*PRINCIPAL IMAGE*/

.principal-image{
    min-width: 100%;
    min-height: 30rem;
    background-image: url("../images/image-web-3-mobile.jpg") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-bottom: 2rem; */
}

/*PRINCIPAL TITLE*/

.principal-title h2{
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
    color: var(--color-dark-blue);
}

/*TEXT BTN */

.text-btn{
    flex-direction: column;
    gap: 2rem;
}

.text-btn p{
    color: var(--color-grey);
    font-size: 1.5rem;
    line-height: 1.5;
}

.text-btn .btn{
    margin-top: 1.5rem;
}

.text-btn .btn a{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 1rem 3rem;

}

.text-btn a:hover{
    background: var(--color-dark-blue);
}

/*------ SIDE BAR ---------*/

.side-bar{
    padding: 2rem;
    background-color: var(--color-dark-blue);
}

.side-bar h3{
    font-size: 3rem;
    color: var(--color-orange);
    margin-bottom: 3rem;

}

/*SIDE BAR LIST*/

.side-bar_list{
    flex-direction: column;
    gap: 3rem;
}

.side-bar_list-item a h4{
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.side-bar_list-item a h4:hover{
    color: var(--color-orange);
}

.side-bar_list-item p{
    color: var(--color-grey);
    line-height: 1.5;
}

.side-bar_list-item:nth-child(5){
    margin-bottom: 1.2rem;
}

.side-bar_list .line{
    min-height: .1rem;
    background: var(--color-grey);
}



/*---------FOOTER---------*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}